/* GENERAL */
* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

/* HEADER */
.containerHeader{
  width: 100vw;
  height: 8vh;
  background-color: #1e3f72;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.containerContentHeader{
  width: 65%;
  display: flex;
  justify-content: space-between;
  padding: 0.4rem;
}

.headerSearch{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1vh;
}

.inputHeader{
  border-radius: 0.4rem;
  border: none;
  padding: 0.4rem;
  outline: none;
  width: 20vw;
  height: 2vh;
  font-size: 1.5vh;
}

.buttonSearch{
  color: white;
  border: 1px solid white;
  background-color: transparent;
  padding: 0.4rem;
  border-radius: 0.4rem;
  width: 11vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.2s ease;
}

.buttonSearch:hover {
  cursor: pointer;
  background-color: #344b6e;
}

.buttonAdd{
  width: 20vw;
  border-radius: 0.4rem;
  border: 1px solid white;
  background-color: transparent;
  padding: 0.4rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
}

.buttonAdd:hover {
  cursor: pointer;
  background-color: #344b6e;
}

/* MAIN */

.containerMain{
  display: grid;
   grid-template-columns: 0.2fr 0.8fr; /* The first column takes up 0.3 fraction 30% of the available space and The second column takes up 0.7 fraction 70% of the available space. */
}

.list{
  background-color: #fff;
  height: 92vh;
}

.store{
  background: red;
  height: 92vh;
}

/* CATEGORIAS */

.list{
  display: flex;
  align-items: center;
  flex-direction: column; /*Uno abajo del otro */
}

.list h2{
  display: flex;
  margin-top: 2vh;
  font-size: 3vh;
  justify-content: center;
  align-items: center;
}

.list ul{
  margin-top: 3vh;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 1vh;

}

.list ul li{
  font-size: 2vh;
  font-weight: 500;
  padding: 0.4rem;
  border-radius: 0.4rem;
}

.liActive{
  background-color: #1e3f72;
  color: white;
}